body{
    font-family: 16px/28px sans-serif
}
.container{
    width: 600px;
    margin: auto;
}

.header{
    background-color: rgb(58, 58, 58);
    text-align: center;
    margin-bottom: 0;
    font-weight: bold;
    color: white;
    border: black solid 1px;
}
.main p {
    background-color: rgb(195, 187, 187);
    margin: auto;
    padding: 20px;
    padding-bottom: 30px;
    text-align: justify;
    border: black solid 1px;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
.footer p{
    padding: .5;
}